.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.iml
*.apk
*.jks
.DS_Store
.env
